

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .title {
    @apply  text-[20px] md:text-[40px] font-semibold text-white
  }
  .heading {
    @apply text-[16px] md:text-[20px] font-medium mb-2 md:mb-3 block text-white
  }
  .container {
    @apply max-w-screen-xl mx-auto mt-5
  }
  .btnGradient1 {
    @apply bg-gradient-to-r from-purple-500 to-pink-500
  }
  .btnGradient2 {
    @apply bg-gradient-to-r from-violet-500 to-fuchsia-500
  }
  .borderBlue {
    @apply border-[1px]  border-[#279EFF]
  }
}

@layer base {
  html {
    width: 100%;
    height: 100vh;
    background-image: url("/src/asset/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  @layer base {
    body {
      font-family: 'Roboto', sans-serif;
    }
}
}

  .react-datepicker-wrapper {
    @apply w-full block
  }
  .ant-select-selection-item {
    @apply text-[18px]
  }
  .ant-segmented-item {
    @apply px-0 md:p-2 md:px-10
  }
  .ant-segmented-item-label {
  @apply text-[14px] md:text-[18px] font-semibold
  }
  .ant-segmented-item.ant-segmented-item-selected {
  @apply bg-[#A6FF96]
  }
  .ant-input.css-dev-only-do-not-override-amq5gd {
  @apply leading-10
  }
  .ant-input-group-addon {
    @apply !text-[14px] md:!text-[20px]
  }
  .ant-input {
    @apply text-[14px] md:text-[18px]
  }
  .ant-btn-primary:hover {
    @apply bg-red-600 text-red-600
  }
  .ant-picker-input input {
    @apply !text-white
  }
  .ant-input {
    @apply px-2 leading-9 md:leading-[50px]
  }
  .ant-select-arrow {
    @apply !text-white text-[16px] md:!text-[20px]
  }
  .ant-select-item-option-selected {
    @apply !bg-[#FD8D14]
  }
 .ant-select-item-option-content {
 @apply text-[14px] md:text-[18px]
 }